/* --------- Pinned section --------- */

.pinned_section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

/* STACKS BACKGROUNDS ON TOP OF EACH OTHER */
.pinned_background > * {
  position: absolute;
}

.pin_block .pinned_background {
  position: sticky;
  top: 0;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.pin_block > *:nth-child(2) {
  margin-top: -100vh;
  margin-top: calc(var(--vh, 1vh) * -100);
}

.pin_clipped .pinned_background > * {
  position: fixed;
  /* IMPORTANT - ENABLES SMOOTH CLIP-PATHS ON MOBILE BY FORCING GPU USAGE */
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.pin_clipped .pinned_background {
  -webkit-clip-path: inset(-0.5px 0);
  clip-path: inset(-0.5px 0);
  position: absolute;
  height: 100%;
}

/* ----- FOR THE PINNED TEXT BOXES ----- */

.pinned_foreground_content_wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pinned_foreground:nth-child(2) > :first-child:not(.first_pin) {
  /* margin-top: 50vh !important;
  margin-top: calc(var(--vh, 1vh) * 50) !important; */
}

.last_pin,
.first_pin {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  display: flex;
  align-items: center;
  justify-content: center;
}

.last_pin,
.last_pin .pinned_foreground_content {
  margin-block: unset !important;
}

.first_pin,
.first_pin .pinned_foreground_content {
  margin-block: unset !important;
}

.pinned_foreground_content {
  /* margin-top: 50vh;
  margin-top: calc(var(--vh, 1vh) * 50);

  margin-bottom: 50vh;
  margin-bottom: calc(var(--vh, 1vh) * 50);

  padding: var(--space--smallmed);
  border-radius: var(--border-radius--pill);
  pointer-events: auto; */
}

.pinned_foreground {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.pinned_center {
  margin-inline: auto;
  width: min(70%, 400px);
}

.pinned_left {
  width: min(50%, 400px);
  margin-right: auto;
}

.pinned_right {
  width: min(50%, 400px);
  margin-left: auto;
}

.pinned_foreground_content a {
  color: white;
}

.pinned_foreground_content a:hover {
  color: #d6d6da;
}

/* ----- FOR THE PINNED BACKGROUND MEDIA ----- */

.pinned_background {
  top: 0;
  left: 0;
  width: 100%;
  width: 100vw;
}

.pinned_background > *:not(:first-child) {
  opacity: 0;
}

.make_visible {
  opacity: 1 !important;
}

/* -------- Media queries ------- */

@media only screen and (max-width: 599px) {
  .pinned_media_attrib {
    display: none !important;
  }

  .pinned_foreground p {
    width: 90%;
    padding: var(--space--base);
  }

  .pinned_left,
  .pinned_right,
  .pinned_center {
    width: unset;
    margin-left: unset;
    margin-right: unset;
  }
}
