/* --------- Pinned section --------- */

.pinned_section {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

/* STACKS BACKGROUNDS ON TOP OF EACH OTHER */
.pinned_background > * {
  position: absolute;
}

.pin_block .pinned_background {
  position: sticky;
  top: 0;
  height: 100vh;
}

.pin_block > *:nth-child(2) {
  margin-top: -100vh;
}

.pin_clipped .pinned_background > * {
  position: fixed;
  /* IMPORTANT - ENABLES SMOOTH CLIP-PATHS ON MOBILE BY FORCING GPU USAGE */
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.pin_clipped .pinned_background {
  -webkit-clip-path: inset(-0.5px 0);
  clip-path: inset(-0.5px 0);
  position: absolute;
  height: 100%;
}

/* ----- FOR THE PINNED TEXT BOXES ----- */

.pinned_foreground:nth-child(2) > :first-child:not(.first_pin) {
  margin-top: 50vh !important;
}

.last_pin,
.first_pin {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.last_pin,
.last_pin .pinned_foreground_content {
  margin-block: unset !important;
}

.first_pin,
.first_pin .pinned_foreground_content {
  margin-block: unset !important;
}

.pinned_foreground_content {
  margin-top: 50vh;
  margin-bottom: 50vh;
  /* color: white; */
  /* background-color: rgba(0, 0, 0, 0.8); */
  padding: var(--space--smallmed);
  border-radius: var(--border-radius--pill);
  pointer-events: auto;
}

.pinned_foreground {
  display: flex;
  flex-direction: column;
  position: relative;
  pointer-events: none;
  align-items: center;
}

.pinned_center {
  margin-inline: auto;
  width: min(70%, 400px);
}

.pinned_left {
  width: min(50%, 400px);
  margin-right: auto;
}

.pinned_right {
  width: min(50%, 400px);
  margin-left: auto;
}

.pinned_foreground_content a {
  color: white;
}

.pinned_foreground_content a:hover {
  color: #d6d6da;
}

/* ----- FOR THE PINNED BACKGROUND MEDIA ----- */

.pinned_background {
  top: 0;
  left: 0;
  width: 100%;
  width: 100vw;
}

.pinned_background > *:not(:first-child) {
  opacity: 0;
}

.pinned_background figure {
  overflow: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: opacity 0.5s ease-in-out;
}

/* .pinned_background video {
  height: 100vh;
  object-fit: cover;
} */

.pinned_background picture img {
  height: 100vh;
  object-fit: cover;
  position: absolute;
}

.pinned_background figcaption {
  opacity: 1 !important;
  width: fit-content !important;
  color: white;
  position: absolute;
  top: 100%;
  left: 0px;
  height: 1.6rem;
  font-family: var(--font-family--base);
  font-size: var(--font-size--x-small);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px 10px 0 10px;
  display: block;
  transform: translateY(calc(-1.6rem));
  text-wrap: nowrap;
}

.pinned_media_attrib_mobile {
  display: none !important;
}

.make_visible {
  opacity: 1 !important;
}

.pos_top {
  object-position: top !important;
}
.pos_center {
  object-position: center !important;
}
.pos_bottom {
  object-position: bottom !important;
}
.pos_right {
  object-position: right !important;
}
.pos_left {
  object-position: left !important;
}

/* -------- Media queries ------- */

@media only screen and (max-width: 599px) {
  .pinned_media_attrib_mobile {
    display: block !important;
  }

  .pinned_media_attrib {
    display: none !important;
  }

  .pinned_foreground p {
    width: 90%;
    padding: var(--space--base);
  }

  .pinned_left,
  .pinned_right,
  .pinned_center {
    width: unset;
    margin-left: unset;
    margin-right: unset;
  }
}
