:root {
  /* Neutrals */
  --neutral-50: #f1f1f2;
  --neutral-100: #e1e1e3;
  --neutral-200: #d6d6da;
  --neutral-300: #b1b1b9;
  --neutral-400: #93939f;
  --neutral-500: #787887;
  --neutral-600: #62626a;
  --neutral-700: #4b4b4e;
  --neutral-800: #383838;
  --neutral-900: #202020;

  /* Reds */
  --red-50: #f9f1f0;
  --red-100: #f1dddc;
  --red-200: #ecc3c0;
  --red-300: #e9928c;
  --red-400: #e37169;
  --red-500: #d8352a;
  --red-600: #b81f14;
  --red-700: #990a00;
  --red-800: #660700;
  --red-900: #3d0400;

  /* Indigos */
  --indigo-50: #f1f2f8;
  --indigo-100: #e0e2f0;
  --indigo-200: #bcc0e1;
  --indigo-300: #8f9bd6;
  --indigo-400: #6d76c5;
  --indigo-500: #505aaf;
  --indigo-600: #29339b;
  --indigo-700: #202879;
  --indigo-800: #07125b;
  --indigo-900: #0b1132;

  /* Blues */
  --blue-50: #e0f1f5;
  --blue-100: #d7eef4;
  --blue-200: #aedeea;
  --blue-300: #87cdde;
  --blue-400: #5ebed4;
  --blue-500: #33a8cc;
  --blue-600: #148cb8;
  --blue-700: #085d91;
  --blue-800: #003562;
  --blue-900: #002447;

  /* Greens */
  --green-50: #e7fef8;
  --green-100: #cefdef;
  --green-200: #a3f5db;
  --green-300: #8ce4c8;
  --green-400: #66ccaa;
  --green-500: #40bf95;
  --green-600: #29a37a;
  --green-700: #1f7a5c;
  --green-800: #0a5c41;
  --green-900: #052e20;

  /* Yellows */
  --yellow-50: #fffae5;
  --yellow-100: #fff5cc;
  --yellow-200: #ffeda3;
  --yellow-300: #ffdb75;
  --yellow-400: #ffc338;
  --yellow-500: #feaa01;
  --yellow-600: #cc7a00;
  --yellow-700: #995c00;
  --yellow-800: #663d00;
  --yellow-900: #331f00;

  /* White and black */
  --white: #ffffff;
  --black: #000000;

  /* Widths */
  --clamp-base: clamp(500px, 90vw, 700px);
  --clamp-large: clamp(600px, 90vw, 65ch);
  --clamp-image-base: clamp(600px, 90vw, 800px);
  --clamp-image-large: clamp(600px, 90vw, 1200px);

  /* Spacing */
  --space--x-small: 0.25rem;
  --space--small: 0.5rem;
  --space--medsmall: 0.7rem;
  --space--smallmed: 1.2rem;
  --space--base: 1rem;
  --space--medium: 1.5rem;
  --space--large: 3rem;

  /* Fonts */
  --font-family--base: "Montserrat", "Helvetica Neue", "Helvetica", sans-serif;
  --font-family--body: "Libre Baskerville", serif;
  --font-size--xs2: 0.5rem;
  --font-size--x-small: 0.75rem;
  --font-size--small: 0.875rem;
  --font-size--base: 1rem;
  --font-size--medium: 1.125rem;
  --font-size--large: 1.25rem;
  --font-size--xl: 1.5rem;
  --font-size--xl2: 1.875rem;
  --font-size--xl3: 2.25rem;
  --font-size--xl4: 3rem;
  --font-size--xl5: 3.75rem;
  --font-size--xl6: 4.5rem;
  --font-weight--regular: 400;
  --font-weight--bold: 700;
  --line-height--tight: 1;
  --line-height--base: 1.6;
  --line-height--wide: 1.2;
  --line-height--xwide: 2.5rem;

  /* Borders and shadows */
  --border-width--base: 1px;
  --border-width--thick: 3px;
  --border-radius--circle: 100%;
  --border-radius--pill: 0.3rem;
  --transition--base: 0.25s;
  --shadow-base: 5px 5px 15px rgba(0, 0, 0, 0.2);
  --shadow-large: 9px 11px 39px -9px rgba(0, 0, 0, 0.75);

  /* --article-background-colour: #f5e3e1; */
  --article-background-colour: #f1e1e1;
  --text-colour: var(--neutral-900);
  --link-colour: var(--neutral-800);
  --link-colour-hover-body: var(--indigo-600);
  --link-colour-hover-regular: var(--neutral-900);
}

body {
  overflow-x: hidden;
  font-family: var(--font-family--body);
  background-color: var(--article-background-colour);
  color: var(--text-colour);
  height: 100%;
}

.block_content {
  margin-inline: auto;
  width: var(--clamp-base);
}

.basic_margin {
  margin-bottom: var(--space--medium);
}

/* -------- Title ------- */

.title_wrapper {
  display: grid;
  position: relative;
  height: 80vh;
  /* height: calc(var(--vh, 1vh) * 80);
  height: 80vh; */
}

.title_text {
  margin-top: 4rem;
  align-self: center;
}

.title_pic_wrapper {
  user-select: none;
  display: grid;
  place-items: center;
}

.title_pic_wrapper > div {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.title_pic_wrapper img {
  width: auto;
  /* aspect-ratio: 9/16; */
}

.title {
  text-align: center;
  font-size: var(--font-size--xl5);
  font-family: var(--font-family--base);
  font-weight: 900;
  margin-inline: auto;
  letter-spacing: -2px;
  color: transparent;
  -webkit-text-stroke: 2px white;
  background-image: linear-gradient(to left, #d8352a, #505aaf);
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 1rem;
}

.standfirst_wrapper {
  display: contents;
}

.standfirst {
  font-size: var(--font-size--base);
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.title_authors {
  text-align: center;
  font-size: var(--font-size--small);
  display: block;
  margin-inline: auto;
  margin-bottom: 1rem;
}

.publish_date {
  font-size: var(--font-size--x-small);
  text-align: center;
}

.date {
  position: fixed;
  z-index: 999;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  opacity: 0.2;
}

.title_container {
  display: grid;
  place-content: center;
  margin-top: 0 !important;
}

/* -------- History section ------- */

.history_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(11, minmax(150px, 1fr));
  place-items: center;
  margin-inline: auto;
  margin-block: 2rem;
  width: min(100vw, 1200px);
}

.history_text_wrapper {
  text-align: center;
}

.history_text {
  width: 100%;
  text-align: center;
  margin-inline: auto;
  background-color: var(--article-background-colour);
}

.history_text:nth-child(1) {
  margin-top: 50lvh;
  margin-top: calc(var(--vh, 1vh) * 50);
}

.history_media_wrapper {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(1fr 1fr 1fr);
}

.history_media {
  z-index: -1;
  opacity: 0;
  width: 100%;
  aspect-ratio: 4/3;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
  /* filter: drop-shadow(2px 2px 10px black); */
}

.history_video {
  width: 100%;
}

/* -------- Event section ------- */

.event_explainer_wrapper {
  padding-top: 3rem;
  position: relative;
  margin-bottom: 4rem;
}

.event_explainer_wrapper img {
  padding-top: 6rem;
  height: 100%;
  width: 100%;
  user-select: none;
}

.event_explainer_text {
  position: absolute;
  width: 60%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}
.event_explainer_text:nth-child(3) {
  position: absolute;
  top: 21%;
}
.event_explainer_text:nth-child(4) {
  position: absolute;
  top: 41%;
}
.event_explainer_text:nth-child(5) {
  position: absolute;
  top: 62%;
}
.event_explainer_text:nth-child(6) {
  position: absolute;
  top: 70%;
}

/* -------- Criteria section ------- */

.criteria {
  position: relative;
  width: 100%;
  height: 500vh;
  height: calc(var(--vh, 1vh) * 500);
}

.criteria_wrapper {
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden;
}

.scroller_line {
  position: absolute;
  top: 0;
  height: 8px;
  background-color: var(--red-400);
  z-index: 101;
}

.keep_scrolling {
  position: absolute;
  top: 15vh;
  z-index: 105;
  width: 100%;
}

.keep_scrolling p {
  margin-inline: auto;
  border-radius: 4px;
  padding: 4px 8px;
  background-color: white;
  width: max-content;
}

.keep_scrolling span {
  display: inline-block;
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.low_opacity {
  opacity: 0.2;
}

.full_opacity {
  opacity: 1 !important;
}

.gradient {
  width: 100%;
  background: var(--article-background-colour);
  height: 100px;
  position: absolute;
  z-index: 100;
}

.gradient_top {
  top: 0;
  background: linear-gradient(
    180deg,
    var(--article-background-colour) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.gradient_bottom {
  bottom: 0;
  background: linear-gradient(
    0deg,
    var(--article-background-colour) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

#criteria {
  display: flex;
  justify-content: center;
  gap: var(--space--small);
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 20px;
  z-index: 9999;
  position: absolute;
  box-sizing: border-box;
}

#criteria span {
  padding-inline: 6px;
  transition: opacity 0.3s ease-in-out;
}

#criteria span:nth-child(1) {
  background-color: var(--red-400);
  border: 2px dashed var(--red-800);
  color: white;
}

#criteria span:nth-child(2) {
  background-color: var(--blue-400);
  border: 2px dashed var(--blue-800);
}

#criteria span:nth-child(3) {
  background-color: var(--green-400);
  border: 2px dashed var(--green-800);
}

#criteria span:nth-child(4) {
  background-color: var(--yellow-400);
  border: 2px dashed var(--yellow-800);
}

#criteria span:nth-child(5) {
  background-color: var(--indigo-400);
  border: 2px dashed var(--indigo-800);
  color: white;
}

.criteria_videos_wrapper {
  position: relative;
  opacity: 1 !important;
  display: flex;
  justify-content: center;
  overflow: visible;
}

.criteria_video {
  z-index: 99;
  aspect-ratio: 9 / 16;
  height: calc(var(--vh, 1vh) * 100);
  object-fit: cover;
}

.annotation_wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 999;
  aspect-ratio: 9 / 16;
  width: auto;
  height: calc(var(--vh, 1vh) * 100);
  transform: translate(-50%, 0);
}

.criteria_annotations {
  opacity: 0;
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
}

.criteria_annotations span {
  opacity: 0;
  position: absolute;
  padding: 1px 8px;
  font-size: var(--font-size--small);
  border-radius: 4px;
  width: max-content;
}

.technique_annotations span {
  background-color: var(--red-400);
  color: white;
}

.technique_annotations span:nth-child(1) {
  top: 78%;
  left: 30%;
}
.technique_annotations span:nth-child(2) {
  top: 65%;
  left: 65%;
}
.technique_annotations span:nth-child(3) {
  top: 50%;
  left: 8%;
}
.technique_annotations span:nth-child(4) {
  top: 40%;
  left: 70%;
}
.technique_annotations span:nth-child(5) {
  top: 20%;
  left: 35%;
}

.execution_annotations span {
  background-color: var(--blue-400);
}

.execution_annotations span:nth-child(1) {
  top: 62%;
  left: 12%;
}
.execution_annotations span:nth-child(2) {
  top: 70%;
  left: 58%;
}
.execution_annotations span:nth-child(3) {
  top: 20%;
  left: 21%;
}
.execution_annotations span:nth-child(4) {
  top: 35%;
  left: 55%;
}
.execution_annotations span:nth-child(5) {
  top: 80%;
  left: 25%;
}

.vocabulary_annotations span {
  background-color: var(--green-400);
}
.vocabulary_annotations span:nth-child(1) {
  top: 28%;
  left: 60%;
}
.vocabulary_annotations span:nth-child(2) {
  top: 61%;
  left: 62%;
}
.vocabulary_annotations span:nth-child(3) {
  top: 48%;
  left: 20%;
}

.musicality_annotations span {
  background-color: var(--yellow-400);
}
.musicality_annotations span:nth-child(1) {
  top: 48%;
  left: 73%;
}
.musicality_annotations span:nth-child(2) {
  top: 65%;
  left: 65%;
}
.musicality_annotations span:nth-child(3) {
  top: 35%;
  left: 63%;
}
.musicality_annotations span:nth-child(4) {
  top: 45%;
  left: 17%;
}

.originality_annotations span {
  background-color: var(--indigo-400);
  color: white;
}
.originality_annotations span:nth-child(1) {
  top: 72%;
  left: 34%;
}
.originality_annotations span:nth-child(2) {
  top: 55%;
  left: 67%;
}
.originality_annotations span:nth-child(3) {
  top: 50%;
  left: 16%;
}
.originality_annotations span:nth-child(4) {
  top: 40%;
  left: 70%;
}
.originality_annotations span:nth-child(5) {
  top: 24%;
  left: 40%;
}

.criteria .pinned_foreground_content {
  height: 100lvh;
  height: calc(var(--vh, 1vh) * 100);
}

/* -------- Physical attributes section ------- */

.physical_wrapper {
  height: calc(var(--vh, 1vh) * 100);
  position: static;
  margin-inline: auto;
  overflow: hidden;
}

.physical_attributes_scroll_wrapper {
  position: relative;
}

.cards {
  display: grid;
  align-items: center;
  height: 100%;
  transform: translate(50%, 0);
}

.move_card_wrapper {
  perspective: 100vw;
  backface-visibility: hidden;
  grid-row: 1;
  grid-column: 1;
  width: max-content;
  filter: drop-shadow(10px 20px 20px rgba(0, 0, 0, 0.5));
}

.move_card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.cards video {
  width: calc(var(--clamp-base) / 2);
  aspect-ratio: 9/16;
  height: auto;
  border-radius: 10px;
}

.cards p {
  position: absolute;
  text-align: center;
  min-width: max-content;
  width: 100%;
  text-align: center;
  font-weight: 900;
  font-family: var(--font-family--base);
  font-size: var(--font-size--xl3);
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  /* scale: 1.02; */
}

.move_card_wrapper:nth-child(1) p {
  background-color: var(--green-300);
  color: var(--neutral-800);
}
.move_card_wrapper:nth-child(2) p {
  background-color: var(--red-300);
  color: white;
}
.move_card_wrapper:nth-child(3) p {
  background-color: var(--yellow-300);
  color: black;
}
.move_card_wrapper:nth-child(4) p {
  background-color: var(--blue-300);
  color: black;
}

/* -------- Article copy ------- */

article {
  border-bottom: 1px solid var(--text-colour);
  padding-bottom: var(--space--medium);
  font-size: var(--font-size--medium);
}

.body_link,
.text_link,
.clean_link {
  word-wrap: break-word;
  color: var(--link-colour);
}

.body_link,
.text_link {
  text-decoration: underline;
}

.clean_link {
  text-decoration: none;
}

.body_link:hover {
  color: var(--link-colour-hover-body);
}

.text_link:hover,
.clean_link:hover {
  color: var(--link-colour-hover-regular);
}

.sub_head {
  font-size: var(--font-size--xl);
  font-weight: 700;
  margin-bottom: 0.75rem;
  margin-top: 3rem;
}

/* -------- Standard images ------- */

.standard_img {
  margin: 0 auto;
  width: var(--clamp-base);
  margin-bottom: var(--space--medium);
}

.standard_img figcaption {
  display: block;
  font-family: Helvetica Neue, sans-serif;
  font-size: var(--font-size--x-small);
  padding-top: var(--space--small);
  line-height: 18px;
}

.standard_img .caption {
  color: var(--neutral-700);
}

.standard_img .attribution {
  color: var(--neutral-900);
}
.standard_img .attribution .source {
  word-wrap: break-word;
  color: var(--link-colour);
  text-decoration: none;
}

.image_arrow {
  height: 50px;
  width: 50px;
}

.image_annotation {
  position: absolute;
  color: white;
  font-family: var(--font-family--base);
  font-weight: 800;
  top: 22%;
  left: 66%;
  rotate: 10deg;
}

/* -------- Author bios and disclosures ------- */

aside {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: var(--space--medium);
}

aside h2 {
  font-weight: 800;
  font-size: var(--font-size--base);
  margin-bottom: var(--space--medsmall);
}

.disclosure_statement {
  font-size: var(--font-size--small);
}

.author_bios_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 0px;
  position: relative;
}

.author_bio {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.author_description {
  font-size: var(--font-size--x-small);
  margin-bottom: 1rem;
}

.author_profile {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.author_name {
  font-size: var(--font-size--small);
}

.author_img {
  border-radius: 100vw;
  width: 50px;
  aspect-ratio: 1;
}

/* -------- Media queries ------- */

@media only screen and (max-width: 599px) {
  .block_content {
    width: calc(100% - 20px);
  }

  article::after {
    width: var(--space--medsmall);
    height: var(--space--medsmall);
  }

  article {
    font-size: var(--font-size--base);
  }

  .title_wrapper {
    height: unset;
  }

  .title_text {
    padding-top: 25vmin;
  }

  .title_pic_wrapper {
    height: 70%;
  }

  .title_pic_wrapper > div {
    transform: translate(0, 0);
    left: 0;
  }

  .title {
    font-size: var(--font-size--xl4);
    line-height: 1;
  }

  .title_authors {
    font-size: var(--font-size--x-small);
  }

  .standfirst {
    font-size: var(--font-size--small);
  }

  .date {
    font-size: 80px;
  }

  figcaption {
    width: 100%;
    margin: 0 auto;
    font-size: var(--font-size--x-small);
  }

  .standard_img {
    width: 100%;
  }

  .image_arrow {
    height: 30px;
    width: 30px;
  }

  .image_annotation {
    font-size: var(--font-size--x-small);
  }

  .disclosure_statement {
    font-size: var(--font-size--x-small);
  }

  .author_bios_wrapper {
    display: flex;
    justify-content: space-around;
  }

  .label_center {
    top: 50%;
    left: 50%;
  }

  .label_left {
    top: calc((100% / 4) * 3);
    left: 50%;
  }

  .label_right {
    left: 50%;
  }

  .chart_wrapper {
    width: 100%;
    left: 0;
    transform: unset;
  }

  .history_wrapper {
    grid-template-rows: repeat(11, minmax(150px, 20svh));
  }

  .history_text_wrapper {
    width: 190%;
  }

  .history_text {
    text-shadow: none;
  }

  .history_wrapper span {
    background-color: var(--article-background-colour);
    padding: 4px 0;
    font-size: 12px;
    transform: translate(-25%, 0);
  }

  .history_media {
    width: 30vw;
  }

  #criteria {
    width: 85%;
    flex-wrap: wrap;
    font-size: var(--font-size--x-small);
  }

  .criteria_annotations span {
    font-size: var(--font-size--x-small);
  }

  .event_explainer_wrapper {
    padding-top: 2rem;
    margin-bottom: 3rem;
  }

  .event_explainer_wrapper img {
    padding-top: 5rem;
  }

  .event_explainer_text {
    width: 100%;
    left: 0;
    transform: translate(0, 0);
    text-align: center;
  }

  .event_explainer_text:nth-child(3) {
    top: 22%;
  }
  .event_explainer_text:nth-child(4) {
    top: 42%;
  }
  .event_explainer_text:nth-child(5) {
    top: 62%;
  }
  .event_explainer_text:nth-child(6) {
    top: 71%;
  }

  .physical_attributes .pinned_foreground_content {
    background-color: rgba(245, 227, 225, 0.8);
    border-radius: 10px;
  }

  .move_card_wrapper {
    max-width: 70vw;
  }

  .cards {
    width: 100%;
    transform: translate(0, 0);
    justify-content: center;
    align-items: normal;
    padding-top: 20%;
  }

  .cards video {
    height: 100%;
  }

  .cards p {
    font-size: var(--font-size--xl);
  }

  .toprock {
    transform: translate(0, 150%);
  }
  .footwork {
    transform: translate(0, 230%);
  }
  .power_moves {
    transform: translate(0, 230%);
  }
  .freezes {
    transform: translate(0, 200%);
  }
}

@media only screen and (min-width: 2100px) {
  .block_content {
    width: var(--clamp-large);
  }

  .standard_img {
    width: 100%;
  }
}
