/* -------- Header --------- */

header {
  position: absolute;
  z-index: 9999;
  padding: var(--space--small) var(--space--base);
  background-color: var(--neutral-900);
  width: 100%;
}

header nav {
  justify-content: space-between;
  gap: var(--space--small);
  align-items: center;
}

header nav ul {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: var(--space--small);
}

header nav li {
  list-style-type: none;
  font-size: var(--font-size--x-small);
  display: flex;
  align-items: center;
}

header nav li:nth-last-child(2) {
  margin-left: auto;
}

.nav_btn {
  padding: var(--space--small) var(--space--medsmall);
  text-align: center;
  text-decoration: none;
  font-family: var(--font-family--base);
  font-size: var(--font-size--x-small);
  transition-property: background-color;
  transition-duration: var(--transition--base);
  transition-timing-function: ease-in-out;
}

.donate_btn {
  background-color: var(--red-500);
  color: white;
  font-weight: var(--font-weight--bold);
}

.donate_btn:hover {
  background-color: var(--red-700);
}

.newsletter_btn {
  background-color: var(--white);
  color: black;
}

.newsletter_btn:hover {
  background-color: var(--neutral-300);
  color: black;
}

.edition {
  transform: translate(0, 4px);
  text-wrap: nowrap;
  padding: 0;
  margin: 0;
  color: white;
  display: block;
  font-size: var(--font-size--x-small);
}

.tc_header_logo {
  width: 100%;
  max-height: 30px;
  max-width: 280px;
  overflow: visible;
  transform: translate(0, 1px);
}

.stacked_logo {
  height: 30px;
  display: none;
  width: unset;
  max-width: unset;
  transform: none;
}

/* -------- Footer  ------- */

footer {
  background-color: var(--neutral-900);
  padding-top: var(--space--medsmall);
  font-family: Helvetica Neue, sans-setif;
  display: flex;
  flex-direction: column;
  gap: var(--space--medsmall);
}

.footer_wrapper {
  background-color: #000;
  padding: var(--space--medsmall) 10px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--space--base);
}

.footer_wrapper * {
  font-size: var(--font-size--small);
}

.footer_wrapper nav {
  display: flex;
  gap: var(--space--base);
  margin: 0 auto;
}

.footer_icon_anchor {
  height: 30px;
  display: block;
  line-height: 0;
  width: fit-content;
  margin-inline: auto;
  position: relative;
  top: 3px;
}

.footer_wrapper p {
  width: fit-content;
  color: var(--neutral-200);
  margin: 0 auto;
}

.footer_wrapper a {
  text-decoration: none;
  color: var(--neutral-200);
  line-height: normal;
}

.footer_wrapper a:hover {
  text-decoration: underline;
}

/* -------- Media queries ------- */

@media only screen and (max-width: 400px) {
  .edition {
    display: none;
  }
}

@media only screen and (max-width: 599px) {
  .full_logo {
    display: none;
  }

  .stacked_logo {
    display: block;
  }

  .footer_wrapper * {
    font-size: var(--font-size--x-small);
  }
}
